# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

node_modules/*
test/data/angularjs/node_modules/*
test/data/angular-4/node_modules/*
test/data/angular-8/node_modules/*
test/data/angular-9/node_modules/*
package-lock.json
test/data/angularjs/package-lock.json
test/data/angular-4/package-lock.json
test/data/angular-8/package-lock.json
test/data/angular-9/package-lock.json
.idea/*
lib/*
test/data/lib/*
test/data/angular-4/app/*.js
test/data/angular-4/app/*.js.map
test/data/angular-8/dist/*
test/data/angular-9/dist/*
