<!DOCTYPE html>
<html lang="en" lang="en" ng-app="ng1">
<head>
    <meta charset="UTF-8">
    <script src="/node_modules/angular/angular.js"></script>
    <script src="app.js"></script>
    <title></title>
</head>
<body ng-controller="MainController">
<div id="data">
    <h1 id="angular-version">Angular {{info.angularVersion}}</h1>
    <h2>Person details</h2>
    <div id="wrapper">
        <div>{{person.name}}</div>
        <div ng-bind="person.email"></div>
        <div>{{person.phone|lowercase}}</div>
        <div>{{person.salary|number:4}}</div>
        <div>
            <input type="text" ng-model="person.name">
        </div>
        <h3>Pets</h3>
        <ul>
            <li ng-repeat="pet in person.pets">
                <span>{{pet.name}} - </span>
                <span>{{pet.age}} year (s)</span>
            </li>
        </ul>
        <select ng-model="person.selectedLocation"
                ng-options="location as location.name for location in person.locations">
        </select>
    </div>
</div>
</body>
</html>